<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./PromptCalibMonitoring.css">
		<title>dataExposed</title>
	</head>
	<body>
		 <table style="width:40%">
		<tr>
	  		<td align="right"># runNumber</td>
	    		<td align="right"># ratio</td>
	   		<td align="right"># events</td>
	    		<td align="right"># eventsParent</td>
 		</tr>
		{% for row in cache_file %}
			<tr>
		  		<td align="right">{{ row.runNumber }}</td>
		    		<td align="right">{{ row.ratio }}</td>
		   		<td align="right">{{ row.events }}</td>
		    		<td align="right">{{ row.eventsParents }}</td>
	 		</tr>
		{% endfor %}
		</table> 
	</body>
</html>


