<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/temp/css"></link>
		<title>{{dataTier}} monitoring for {{run_name}}-v1</title>
	</head>
	<body>
		<a name = topPage ></a>
		<center><h1>{{dataTier}} monitoring for {{run_name}}-v1</h1></center>
		<hr>

		<center>[<a href=/index>index</a>]</center>
		<p>
		<br>
		<br>
		<script>
			openWindowData = false;
		</script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
		<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
		<script>
		function myFunction(fileName, idName, openWindowData, run_name, dataTier) {	
			var margin = {top: 45, right: 20, bottom: 60, left: 60},
				width = 630 - margin.left - margin.right,
				height = 400 - margin.top - margin.bottom;

			var x = d3.scale.ordinal()
				.rangeRoundBands([0, width], .1);
		
			var y = d3.scale.linear()
			.range([height, 0]);

			var xAxis = d3.svg.axis()
				.scale(x)
				.orient("bottom");

			var yAxis = d3.svg.axis()
				.scale(y)
				.orient("left")
				.ticks(20);

			var tip1 = d3.tip()
				.attr('class', 'd3-tip')
				.offset([-10, 0])
				.html(function(d) {
				return "<span font-family:serif>Run number: </span><span font-family:serif; style='color:white'>" + d.runNumber + "</span><br><span font-family:serif>Event count: </span><span font-family:serif; style='color:white'>" + d.events + "</span>";
			})

			 var tip2 = d3.tip()
				.attr('class', 'd3-tip')
				.offset([-10, 0])
				.html(function(d) {
				return "<span font-family:serif>Run number: </span><span font-family:serif; style='color:white'>" + d.runNumber + "</span><br><span font-family:serif>Selection efficiency: </span><span font-family:serif; style='color:white'>" + d.events / d.eventsParents + "</span>";
			})


			var svg = d3.select("body").append("svg")

			var plot1 = d3.select("#" + idName).append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
				.append("g")
				.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			var plot2 = d3.select("#" + idName).append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
				.append("g")
				.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			function make_x_axis_grid(){
				return d3.svg.axis()
					.scale(x)
					.orient("bottom")
					.ticks(5)
			}

			function make_y_axis_grid(){
				return d3.svg.axis()
					.scale(y)
					.orient("left")
					.ticks(20)
			}

			svg.call(tip1);
			svg.call(tip2);



			 var plotData1 = function(error, data){
				if (error) throw error;
				data.forEach(function(d) {
				d.events = +d.events;
				d.eventsParents = +d.eventsParents;
				});
				console.log(data[0]);
				x.domain(data.map(function(d) { return d.runNumber; }));
				y.domain([0, d3.max(data, function(d) { return d.events; })]);
				plot1.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(0," + height + ")")
					.call(xAxis)
					.selectAll("text")  
						.style("text-anchor", "end")
						.attr("dx", "-.8em")
						.attr("dy", ".15em")
						.attr("y", 1.3)
						.attr("transform", "rotate(-90)" );

				plot1.append("text")
					.attr("class", "x label")
					.attr("text-anchor", "end")
					.attr("x", width -30)
					.attr("y", height -(-60))
					.attr("font-family", "serif")
					.text("run #");

				plot1.append("g")
					.attr("class", "y axis")
					.call(yAxis)
					.call(d3.svg.axis()
					.scale(y)
					.orient("left")
					.ticks(20)
					.tickFormat(d3.format("s")));

				plot1.append("text")
					.attr("class", "y label")
					.attr("text-anchor", "end")
					.attr("y", -55)
					.attr("x", -15)
					.attr("dy", ".75em")
					.attr("transform", "rotate(-90)")
					.attr("font-family", "serif")
					.text("# of events");

				plot1.append("g")
					.attr("class", "grid")
					.attr("transform", "translate(0," + height + ")")
					.call(make_x_axis_grid()
						.tickSize(-height, 0, 0)
						.tickFormat("")
					)

				plot1.append("g")
					.attr("class", "grid")
					.call(make_y_axis_grid()
						.tickSize(-width, 0, 0)
						.tickFormat("")
					)

				plot1.selectAll(".bar")
					.data(data)
					.enter().append("rect")
					.attr("class", "bar")
					.attr("x", function(d) { return x(d.runNumber); })
					.attr("width", x.rangeBand())
					.attr("y", function(d) { return y(d.events); })
					.attr("height", function(d) { return height - y(d.events); })
					.on('mouseover', tip1.show)
					.on('mouseout', tip1.hide);
			};

			var plotData2 = function(error, data){
				if (error) throw error;
				data.forEach(function(d) {
				d.events = +d.events;
				d.eventsParents = +d.eventsParents;
				});
				console.log(data[0]);
				x.domain(data.map(function(d) { return d.runNumber; }));
				y.domain([0, d3.max(data, function(d) { return d.events / d.eventsParents; })]);
				plot2.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(0," + height + ")")
					.call(xAxis)
					.selectAll("text")  
						.style("text-anchor", "end")
						.attr("dx", "-.8em")
						.attr("dy", ".15em")
						.attr("y", 1.3)
						.attr("transform", "rotate(-90)" );

				plot2.append("text")
					.attr("class", "x label")
					.attr("text-anchor", "end")
					.attr("x", width -30)
					.attr("y", height -(-60))
					.attr("font-family", "serif")
					.text("run #");

				plot2.append("g")
					.attr("class", "y axis")
					.call(yAxis);

				plot2.append("text")
					.attr("class", "y label")
					.attr("text-anchor", "end")
					.attr("y", -55)
					.attr("x", -15)
					.attr("dy", ".75em")
					.attr("transform", "rotate(-90)")
					.attr("font-family", "serif")
					.text("selection eff.");

				plot2.append("g")
					.attr("class", "grid")
					.attr("transform", "translate(0," + height + ")")
					.call(make_x_axis_grid()
						.tickSize(-height, 0, 0)
						.tickFormat("")
					);

				plot2.append("g")
					.attr("class", "grid")
					.call(make_y_axis_grid()
						.tickSize(-width, 0, 0)
						.tickFormat("")
					);

				plot2.selectAll(".bar")
					.data(data)
					.enter().append("rect")
					.attr("class", "bar")
					.attr("x", function(d) { return x(d.runNumber); })
					.attr("width", x.rangeBand())
					.attr("y", function(d) { return y(d.events / d.eventsParents); })
					.attr("height", function(d) { return height - y(d.events / d.eventsParents); })
					.on('mouseover', tip2.show)
					.on('mouseout', tip2.hide);
			};

			function type(d){
				d.events = +d.events;
				return d;
			}

				d3.json("/get_era_data/get_data_tier/" + run_name + "/" + dataTier + "/data/json/" + fileName, function(error, data){
				plotData1(error, data);
				plotData2(error, data);
			});	
		}
		</script>
		{% for group in listGroups %}
			<b>{{ group['parentPrimaryDatasetName'] }}:</b>
			{% for children in group['childrenDatasets'] %}
				<a href=#{{ group['parentPrimaryDatasetName']}}{{children['childrenName']}}>{{ children['childrenName'] }}</a>
			{% endfor %}
			<br>
		{% endfor %}	
		</p>
		{% for group in listGroups %}
			<h3>{{ group['parentPrimaryDatasetName'] }}</h3>
			{% for children in group['childrenDatasets'] %}
				<table width="200%">
				<tr>
					<td><a name = {{ group['parentPrimaryDatasetName'] }}{{ children['childrenName'] }}></a><b>{{ children['childrenName'] }}</b></td>
					<td>{{children['childrenDatasetName']}}</td>
				</tr>
				<tr>
					<td><h4>Number of events per run</h4></td>
					<td><h4>Selection efficiency per run</h4></td>
				</tr>
				</table>
				<div id={{ group['parentPrimaryDatasetName'] }}{{ children['childrenName'] }} class="area1" style="display: flex;"></div>
				<center><script>myFunction('{{children['fileName']}}','{{ group['parentPrimaryDatasetName'] }}{{ children['childrenName'] }}', openWindowData, '{{run_name}}', '{{dataTier}}');</script></center>
				Link to <a href=/get_era_data/get_data_tier/{{run_name}}/{{dataTier}}/data/readable/{{children['fileName']}}>data</a> file used to build the plots.
				<br />
				<br />
			{% endfor %}
			<center>[<a href=#topPage>back to the top</a>]</center>
			<hr>
			<br>
		{% endfor %}
	</body>
</html>


