.main_menu {
	color: white;
	font-weight: 900;
	font-size: 900;
}
.table_main {
	color: #FFFFFF;
	border-color: #53CFE4;
	background-color: #81b0c8;
}

.table_main a:link {
	color: #FFFFFF;
	border-color: #53CFE4;
	background-color: #81b0c8;
}

.MenuLink {
	color:#F8A605;
	font-weight:bold;
	text-decoration : none;
}

.MenuLink:hover {
	color:#1B4586;
	font-weight:bold;
	text-decoration : underline;
}
a {
	color:#F8A605;
	white-space:nowrap;
}

a:hover {
	color:#1B4586;
	white-space:nowrap;
}

.FooterText {
	color:#A9A7A7;
}

.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
}
.grid path {
	stroke-width: 0;

}
.d3-tip {
	line-height: 1;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}
.bar {
	fill: steelblue;
}

.bar:hover {
	fill: brown;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}



body {
	background-image: ../common/img/bck_drop2.jpg;
	font-family: arial, helvetica, sans-serif;
	background-color: white;
	margin-bottom: 19px;
	margin-top: 23px;
}

h1 {
	color: #1B4586;
	text-align: center;
	font-family: arial, helvetica, sans-serif;
}
h3 {
	color: #1B4586;
	font-family: arial, helvetica, sans-serif;
}
h4 {
	color: #1B4586;
	font-family: arial, helvetica, sans-serif;
}	
p {
	color: #1B4586;
}
p:first-letter {
	color: #1B4586;
	font-weight: bold;
}
table {
   cellpadding: 2;
	padding: 2;
	color: #1B4586;
}

